.icon-48-usergroups {
      background-image: url(../images/l_usergroups.png);
      padding-left:60px!important;
}

.icon-48-usergroup {
      background-image: url(../images/l_usergroups.png);
      padding-left:60px!important;
}

.icon-48-contacts {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

.icon-48-contact {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

